body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
    font-family: Arial, sans-serif;
    font-weight: bold;
}
img {
    width: 150px;
    height: 150px;
}
form {
    background-color: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}
form input[type="submit"] {
    margin-top: 20px; 
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
form input[type="submit"]:hover {
    background-color: #0056b3;
}
input[type="submit"] {
    background-color: #007BFF;
    color: #fff;
    border: none;
    border-radius: 5px;
    padding: 10px 15px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background-color: #0056b3;
}
#logo {
    position: fixed;
    bottom: 0;
    right: 0;
    opacity: 0.5;
    width: 5%; 
    height: auto; 
}
#titre {
    text-align: center;
    margin-bottom: 20px;
    color: #007BFF;
    font-size: 24px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
    text-shadow: 2px 2px #9494946e;
}
#menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #fff;
    padding: 10px;
}
#menu ul {
    list-style-type: none;
    padding: 0;
}
#menu li {
    cursor: pointer;
}
body.dark-theme {
    background-color: #000;
    color: #fff;
}
body.dark-theme #menu {
    background-color: #000;
    color: #fff;
}

